<%- include('partials/header') %>

<h1><%= title %></h1>
<p>Welcome! Please sign up to continue.</p>

<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
<ul class="errors">
  <% errors.forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form action="/sign-up" method="POST">
  <div>
    <label for="firstName">First Name:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      required
      value="<%= (typeof body !== 'undefined') ? body.firstName : '' %>"
    />
  </div>

  <div>
    <label for="lastName">Last Name:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      required
      value="<%= (typeof body !== 'undefined') ? body.lastName : '' %>"
    />
  </div>

  <div>
    <label for="email">Email (username):</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      value="<%= (typeof body !== 'undefined') ? body.email : '' %>"
    />
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>

  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
    />
  </div>

  <button type="submit">Sign Up</button>
</form>

<p style="text-align: center; margin-top: 1rem">
  Already have an account? <a href="/log-in">Log In</a>
</p>

<%- include('partials/footer') %>
